--- /dev/null
+++ b/Users/tobiasvogele/Desktop/coding/x/leviathan/backend_gql/templates/graphiql.html
@@ -0,0 +1,49 @@
+<!DOCTYPE html>
+<html>
+
+<head>
+  <meta charset=utf-8/>
+  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
+  <title>GraphiQL</title>
+  <style>
+    body {
+      height: 100%;
+      margin: 0;
+      width: 100%;
+      overflow: hidden;
+    }
+    #graphiql {
+      height: 100vh;
+    }
+  </style>
+  <!--
+    This GraphiQL example depends on Promise and fetch, which are available in
+    modern browsers, but can be "polyfilled" for older browsers.
+    GraphiQL itself depends on React DOM.
+    If you do not want to rely on a CDN, you can host these files locally or
+    include them directly in your favored resource bundler.
+   -->
+  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
+  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
+
+  <!--
+      These two files can be found in the npm module defined in the GraphiQL repo
+    -->
+  <link rel="stylesheet" href="https://unpkg.com/graphiql/graphiql.min.css" />
+</head>
+
+<body>
+  <div id="graphiql">Loading...</div>
+  <script src="https://unpkg.com/graphiql/graphiql.min.js" type="application/javascript"></script>
+  <script>
+    function graphQLFetcher(graphQLParams) {
+      return fetch(
+        '/graphql', // Your GraphQL endpoint path here
+        {
+          method: 'post',
+          headers: { 'Content-Type': 'application/json' },
+          body: JSON.stringify(graphQLParams),
+        },
+      ).then(response => response.json());
+    }
+
+    ReactDOM.render(
+      React.createElement(GraphiQL, { fetcher: graphQLFetcher }),
+      document.getElementById('graphiql'),
+    );
+  </script>
+</body>
+
+</html>
